#start-menu {
    background-color: white;
    text-align: center;
    }

#diff-select{
    background-color: white;
    text-align: center;
    }

#name-input{
    background-color: white;
    text-align: center;
    }
